body {
  margin: 0px;
}
button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}


nav {
  display: flex;
  background: black;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.85rem;
  text-align: right;
  color: white;
  padding-top: 5px;
}
.nav-links a {
  margin: 0px 10px;
}

.request-specification-container {
  display: flex;
}

.contract-container {
  display: flex;
}
.logo-wrapper {
  display: flex;
  flex-grow: 1;
}
.logo {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 10px;
}