
button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: lightgray;
  color: white;
}

.nav-links {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

.request-specification-container {
  display: flex;
}

.contract-container {
  display: flex;
}
