body {
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
}
/* GENERAL STYLES */
button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 0.9rem;
  transition: all ease-in 0.1s;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.form-container {
  padding: 2em;
  width: 80%;
  margin: 0 auto;
}

/* SIGN UP AND LOGIN FORM */

.heading {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-text-field {
  padding: 0.5em;
  width: 60%;
  margin: 0.3em auto;
  border-radius: 5px;
}

.form-login p {
  width: 60%;
  margin: 0 auto 0.2em;
  color: red;
  font-size: x-small;
}

.form-login button {
  width: 30%;
  margin: 0.3em auto;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  background-color: black;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.85rem;
  text-align: right;
  color: white;
  padding-top: 5px;
}
.nav-links a {
  margin: 0px 10px;
  transition: all ease-in 0.1s;
}
.nav-links a:hover {
  border-bottom: 1px solid white;
}

.request-specification-container {
  display: flex;
}

.contract-container {
  display: flex;
}
.wrapper-logo {
  display: flex;
  flex-grow: 1;
}
.logo {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 10px;
}
.wrapper-endpoint {
  display: flex;
}
.form-endpoint {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 38px;
}
.request-type-selector {
  display: block;
  width: 100%;
  padding-right: 10px;
  font-size: 0.9rem;
  text-align: center;
  height: 38px;
  border: none;
  background-color:rgb(40, 40, 40);
  color: white;
}

#endpoint-text {
  display: flex;
  flex-grow: 1;
  height: 38px;
  border: none;
  padding: 0px 10px;
  background-color:rgb(40, 40, 40);
  color: white;
  outline: none;
  outline-offset: 0;
  inset:none;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.btn-save {
  display: block;
  width: 100%;
  border-radius: 0px;
  border: none;
  height: 38px;
  background-color:rgb(40, 40, 40);
  color: white;
}
.btn-save:hover {
  background-color: #00CC96;
}
.wrapper-selector {
  display: inline-block;
  width: 15%;
}
.wrapper-input {
  display: flex;
  width: 70%;
}
.wrapper-save {
  display: inline-block;
  width: 15%;
}
input:focus, select:focus {
  outline: none;
}
select:hover {
  cursor: pointer;
}
.wrapper-editor {
  display: flex;
}
.wrapper-reqres {
  width: 50%;
  height: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}
.title-editor {
  text-align: center;
  margin: auto;
  font-size: 0.8rem;
  font-weight: 200;
}
#req-editor {
  border-right: 1px solid rgb(40, 40, 40);
}